<aside>
  <button (click)='showAll()'> My Todo </button>
  <button (click)='shoeFav()'>Favourite</button>
  <button (click)='shoeComple()'>Completed</button>
</aside>

<main>
  Hi Anirban!😁
  <div>
      @if(showList.length > 0){
        @for(item of showList ; track showList){
          <app-task [task]="item" (delThis)="delTask($event)">
  
          </app-task>
          <!-- <p>{{item.cont}}</p>
          <p>{{item.date | date : 'hh:mm a'}}</p> -->
        }
      }@else{
        <app-no-view>

        </app-no-view>
      } 
  </div>

  <div>
    <app-add (addThis)="addTask($event)">

    </app-add>
  </div>
</main>